.slider-wrap{
    position: relative;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.1);
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 20px;      
}
.slider-wrap .slider-img {
    max-width: 1007px;
    margin-right: 180px; 
    border-radius: 15px;
}
.slider-bg {
    position: absolute;
    top: 0;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
}
.slider-bg .slick-list{
    overflow: hidden;
    border-radius: 15px;
}
.slider-content{
    padding: 50px 50px;
}
.slider-content h4{
    margin-bottom: 1rem;
    color: var(--primary);
}
.slider-content h1{
    font-size: 3.688rem;
    margin-bottom: 1.5rem;
    color: var(--black);
    font-weight: 600;
}
.slider-content h5{
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: var(--black);
    font-weight: 400;
    display: flex;
    align-items: center;
    
}
.slider-content h5 span{
    font-size: 2.25rem;
    align-items: flex-end;
    margin-left: 1rem;
    color: var(--primary);
    font-weight: 600;
}
.slider-content .btn{
    margin-top: 100px;
    background-color: var(--primary);
    border-radius: 55px;
    padding: 1rem 2.5rem;
    color: var(--white);
    font-weight: 600;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 10px;
}
.slider-content .btn:hover{
    background-color: var(--black);
}
.slider-wrap .slick-dots{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: -41px;
    display: flex;
    align-items: center;
}

.slider-wrap .slick-dots li button{
	display: flex;
	/* width: 8px;
    height: 12px; */
    font-size: 0;
	margin: 0px 5px;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
	outline: none;
	position: relative;
    text-indent: -9999999px;
    border: none;
    background: transparent;
}
/* 
.slider-wrap .slick-dots li.slick-active button{
    background-color: var(--primary);
}
.slider-wrap .slick-dots li.slick-active button,
.slider-wrap .slick-dots li:hover{
	background:var(--white);
    border: 6px solid var(--primary);
    width: 24px;
    height: 18px;
} */
.slider-wrap .slick-dots li button:before,
.slider-wrap .slick-dots li button:after {
    width: 22px;
    height: 22px;
    
    position: absolute;
    content: "";
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    -webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.slider-wrap .slick-dots li button:before{
    width: 2px;
    height: 2px;
    border: 1px solid var(--primary);
    background-color: var(--white);
}
.slider-wrap .slick-dots li button:after{
    width: 8px;
    height: 8px;
    background: var(--black);
    border: transparent;
}
.slider-wrap .slick-dots li.slick-active button::before{
    width: 22px;
    height: 23px;
}
.slider-wrap .slick-dots li.slick-active button::after{
    background-color: var(--primary);
}